<footer>
  <div class="container footer-wrapper">
    <p class="footer-content">© 2022<span class="line">|</span></p>
    <p class="footer-content">All Rights Reserved<span class="line">|</span></p>
    <p class="footer-content">Developed with<span class="footer-heart">♡</span></p>
    <p class="footer-content">by</p>
    <p class="footer-open-modal footer-content btn-animate team" data-modal-open>
      <span style="margin-left: 5px" class="footer-go"> IT</span>
      <span class="footer-it">Girls</span>
    </p>
  </div>
  <div class="team-modal is-hidden" id="team-modal"></div>
</footer>
